@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  color: white;
  background-color: rgb(3, 3, 35);

  /* overflow-x: hidden; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.main {
  padding: 0 1rem;
  display: flex;
}
.fix {
  background-color: rgb(3, 3, 35);
}
.navbar {
  background-color: rgb(8, 8, 54);
}
.boxs {
  scroll-snap-type: x mandatory;
  overflow: auto;
}
.box {
  scroll-snap-align: start;
}
.top {
  top: 6rem;
}
.top1 {
  top: -1.5rem;
}
.active {
  background-color: white;
  width: 4rem;
  border: 5px solid white;
  border-radius: 6px;
}
@media screen and (max-width: 768px) {
  .top {
    top: 4rem;
  }
}
@media screen and (max-width: 500px) {
  .main {
    display: block;
  }
  .navbar {
    display: flex;
    height: 3rem;
    width: 92%;
    top: 0;
    padding: 10px 1rem;
    justify-content: space-between;
  }
  .mainmain {
    margin-top: 0;
  }
  .search {
    margin-top: 5rem;
    margin-left: 0;
    width: 100%;
  }
  .img {
    margin-top: 0;
    height: 2rem;
    width: 1rem;
  }
  .img1 {
    height: 20px;
    margin-top: 5px;
  }
  .img2 {
    width: 2rem;
  }
  .search1 {
    padding: 1rem;
  }
  .active {
    background-color: white;
    width: 25px;
    height: 30px;
    border: 2px solid white;
    border-radius: 6px;
  }
  .mainbody {
    margin-left: 0;
    margin-top: 3rem;
    padding-top: 4rem;
  }
}
